html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
a{
    cursor: pointer;
}

.imagemLogo{
    padding: 0px;
    margin: 20px 0px;
    height: 35px;
}
#barraMenu{
    font-family: inherit;
}
.navbar-default{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    font-size: 15px;
    border-radius: 0px;
    border-style: none;
    background-color: black;
    padding: 5px 0px;
}
.container-fluid{
    margin: 0px 30px;
}
.navbar a{
    color: grey;
}
.navbar a:visited{
    color: white;
}
.navbar-header h3{
    padding: 0px;
    color: white;
    margin: 0px;
    font-weight: 300;
}
.navbar-brand a{
    padding: 20px 0px;
}
.menu{
    position: absolute;
    width: 200px;
    height: 1000px;
    background-color: rgba(0,0,0,0.2);
    top: 0px;
    left: calc(100%);
    transition: 1s;
}
.navbar-right{
    margin-top: 20px;
    margin-right: 5px;
}
.menu ul:nth-child(2){
    border-top: solid;
    border-bottom: solid;
}
.menu li{
    margin: 10px 0px;
    list-style: none;
    font-weight: 300;
    color: #888;
}
.menu h2{
    margin-left: 25px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-weight: 300;
    color: #bbb;
}
.botaoMenu{
    color: #888;
    font-weight: 300;
}
.botaoMenu:after{
    content:'MENU';
}
#navicon{
    display: none;
}
#navicon:checked + label:after{
    content: 'X';
}
#navicon:checked ~ .menu{
    transition: 1s;
    left: calc(100% - 200px);
}
.botaoMenu{
    text-align: center;
    right: 50px;
    position: absolute;
    z-index: 500;
}
.linha{
    clear: both;
}




#topo{
    height: 100%;
    width: 100%;
    background-image: url("../img/home/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
.transparencia-fundo{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
#topo h1{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}