html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
a{
    cursor: pointer;
}

.imagemLogo{
    padding: 0px;
    margin: 20px 0px;
    height: 35px;
}
#barraMenu{
    font-family: inherit;
}
.navbar-default{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    font-size: 15px;
    border-radius: 0px;
    border-style: none;
    background-color: black;
    padding: 5px 0px;
}
.container-fluid{
    margin: 0px 30px;
}
.navbar a{
    color: grey;
}
.navbar a:visited{
    color: white;
}
.navbar-header h3{
    padding: 0px;
    color: white;
    margin: 0px;
    font-weight: 300;
}
.navbar-brand a{
    padding: 20px 0px;
}
.menu{
    position: absolute;
    width: 200px;
    height: 1000px;
    background-color: black;
    top: 0px;
    left: calc(100%);
    transition: 1s;
}
.navbar-right{
    margin-top: 20px;
    margin-right: 5px;
}
.menu ul:nth-child(2){
    border-top: solid;
    border-bottom: solid;
}
.menu li{
    margin: 10px 0px;
    list-style: none;
    font-weight: 300;
    color: #888;
}
.menu h2{
    margin-left: 25px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-weight: 300;
    color: #bbb;
}
.botaoMenu{
    color: #888;
    font-weight: 300;
}
.botaoMenu:after{
    content:'MENU';
}
#navicon{
    display: none;
}
#navicon:checked + label:after{
    content: 'X';
}
#navicon:checked ~ .menu{
    transition: 1s;
    left: calc(100% - 200px);
}
.botaoMenu{
    text-align: center;
    right: 50px;
    position: absolute;
    z-index: 500;
}
.linha{
    clear: both;
}




#topo{
    height: 100%;
    width: 100%;
    background-image: url("../img/home/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
.transparencia-fundo{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
#topo h1{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}
#sectionreceita1{
}
.titulo{
  margin-left: 500px;
  margin-top:150px;
}
.titulo h1{
  text-align: center;
  color: white;
}
.link li{
    border-radius: 50px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 350px;
    text-align: center;
    width: 100px;
    list-style: none;
    border: solid;
    border-color: white;
    border-width: medium;
  }
.link a{
  text-decoration: none;
  color: white;
}
.link li:hover{
	cursor: pointer;
	transition: 0.5s;
	border-color: blue;
}



#principais{
    position: relative;
    margin-top: 100px;
    text-align: center;
}
.imgPrincipais{
    margin-bottom: 35px;
}
.imgPrincipais img{
    border: solid;
    border-color: rgba(255,255,255,0.8);
    border-width: medium;
}

#principais h1, h3, p{
    font-family: inherit;
    font-weight: 300;
    color: white;
}
#principais h3{
    font-size: 35px;
}
.tituloPagina h1{
    margin-bottom: 35px;
}
.artigo{
}
.conteudo{
    margin-top: 150px;
}
.conteudo h1{
    text-align: center;
    font-family: inherit;
    font-weight: 300;
    color: white;
}
.conteudo p{
    margin-left: 15px;
    font-size: 20px;
    font-family: inherit;
    font-weight: 400;
    color: white;
}
.conteudo img{
    margin: 10px;
}

.video{
    text-align: center;
}
#dicas h1{
    text-align: center;
    margin-top: 150px;
    font-family: inherit;
    font-weight: 300;
    color: white;
}
#dicas h3{
    background-color: rgba(255,255,255,0.2);
}